

#navbutton3 {
	position:absolute;
	clear:none;
	top:0;
	left:440px;
}

#navbutton2 {
	position:absolute;
	clear:none;
	top:0;
	left:220px;
}

#navbutton1 {
	position:absolute;
	clear:none;
	top:0;
	left:0;
}

.bigwrapper {
	width:100%;
	height:100%;
	position:absolute;
}

.selectboxes {
	font-size:18px;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.selectlabel {
	font-size:18px;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	color:#FF0066;
}

#navcontainer1 {
	position:relative;
	width:100%;
	left:0%;
	top:25%;
	background-color:#FFFFFF;
	height:40px;
}

.navbutton {
	font-size:18px;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
	background-color:#66FF33;
	width:200px;
	height:50px;
	margin:inherit;
	cursor:pointer;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	-o-border-bottom-left-radius:10px;
	-ms-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-o-border-bottom-right-radius:10px;
	-ms-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	padding:inherit;
}

.navbutton.active {
	font-size:18px;
	font-style:italic;
	background-color:#FFFF33;
}

.navbutton h1 {
	position:absolute;
	float:inherit;
}

.panelcontainer {
	position:relative;
	width:90%;
}

.panel {
	position:relative;
	background-color:#0099FF;
}

