body {
    /*background: #369; */
    /*background: #5C85AD;*/
    background: black;
    opacity: 1;
    align-content: center;

}

h2 {
    text-align: center;
    font: 30px "Trebuchet MS";
    color:#E88EB2;

}

h3{
    text-align: center;
    font: 24px "Trebuchet MS";
    color: #E88EB2;

}


.link {
    stroke: #000;
    stroke-width: .5px;
    stroke-opacity: .3;

}

.node text {
    /*pointer-events: none;*/
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    fill:white;
    /*font-color:#3B4958;*/
    color:white;


}

.nodecircle {

    /*fill:green;
    border-color:= black;
    border-width: thin;
     opacity: 1; */
}

.node {

    stroke:#000;
    stroke-width: .2px;
    stroke-opacity: .6;
    opacity:.7;

}

.mainContainer {
    width = 100%
    height = 100%
}
