@charset "UTF-8";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
	
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}

.splash_container {
	
	width:100%;
	height:100%;
/*	background-color:#015666; */
	background-color:#235D79;
	opacity:0;
	
	
	}
	
.splash_text{
	
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	/* font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	font-variant:small-caps;
	font-size:50px;
	color:#CCC;
	text-align:center;
	}
	
.bubble {
	
	z-index: 10000;
	
	
	}
	
#high_text {
	
	position:absolute;
	left:25%;
	top:1%;
	opacity:0;
	width:600px;
	text-height:30px;
	
	
	}

#mid_text {}

#low_text {}


#legend_container {
	
	position:fixed;
	right:5%;
	top:2%;
	width:300px;
	height:650px;
	opacity:0;
	
	}

#legend_text_container {
	
	position:absolute;
	top: 0px;
	left: 0;
	width:auto;
	text-align:right;
	margin:auto;

	}


#legend_icon_container {
	
	position:absolute;
	top: 0px;
	right:0px;
	width:20px;
	text-align:right;
	margin:auto;

	}

.legend_text{
	
	height:20px;
	width:auto;
	border-width:2px;
	margin: 15px;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	/* font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	font-variant:small-caps;
	font-size:14px;
	color:#CCC;
	text-align:right;
	
	
	}
.legend_box{
	
	height:20px;
	width:20px;
	background-color:#0F0;
	border-color:#666;
	border-width:2px;
	margin: 15px;
	
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	-ms-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	-ms-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	-o-border-bottom-left-radius:10px;
	-ms-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-o-border-bottom-right-radius:10px;
	-ms-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	
	}
	
.app_description{
	
	
	position:absolute;
	width:80%;
	margin: 0 auto;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	/* font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	font-variant:small-caps;
	font-size:16px;
	color: #fff;
	text-align:center;
	opacity:0;
	
	}
	
	
#header{
	
	
	position:absolute;
	width:80%;
	margin: 0 auto;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	/* font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	font-variant:small-caps;
	font-size:32px;
	color: #fff;
	text-align:center;
	opacity:0;
	
	}
	

#logo {
	
	position:fixed;
	top: 2%;
	left: 2%;
	width:200px;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: .5px .5px .5px #111; 
	/*font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	/*font-variant:small-caps;*/
	font-style:normal;
	font-weight:100;
	font-size:10px;
	color: #FFF;
	opacity:.7;

	
	}
	
#logo h1{
	
	margin:-10px;
	text-align:left;
		
	}

#logo p {
	margin:-10px;
	margin-top:10px;
	text-align:left;
	font-size:12px;
	font-style:normal;
	color:#fff;
	
	
	}
	
#view_toggle {
	
	position:fixed;
	top: 2%;
	right: 2%;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: .5px .5px .5px #111; 
	/*font-family: 'Open Sans'; text-shadow: 1px 1px 1px #111; */
	/*font-variant:small-caps;*/
	font-style:normal;
	font-size:18px;
	color: #fff;
	opacity:.8;
	text-align:left;
	
	
	}