@charset "UTF-8";
/* CSS Document */

.tooltip {
	position:absolute;
	height:300px;
	width:225px;
	opacity:1;
	padding:0;
	z-index:12000;
}

.ttbodycontainer {
	position:relative;
	top:auto;
	left:auto;
	height: auto;
	margin-top: 0px;
	text-align:left;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	font-size:18px;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 0px 0px 0px #111; 
	font-variant:small-caps;
	color:#CCC;


	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#333;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-o-border-bottom-left-radius:12px;
	-ms-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	-o-border-bottom-right-radius:12px;
	-ms-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	overflow:visible;
	padding:5px;
}

.ttbodycontainer p {
	color:#FFF;
	font-size:18px;
	text-align:left;
	margin: 10px;
}

.ttbodycontainer a {
	color:#66FEFF;
	font-size:18px;
	text-align:left;
	opacity: 0;
}

.popup_icon {
	position:relative;
	width: 40px;
	height:40px;
	padding:20px;
	padding-top: 5px;
	
}

.icondeeper {
	
	height:20px;
	width:20px;
	pointer-events:none;
	padding:5px;
	position:relative;
	top:5px;

	}

.ttdeeper {
	
	height:18px;
	width:18px;
	position:absolute;
	top:-50px;
	left:-50px;
	pointer-events:none;
	
	color:#FFF;
	font-size:18px;
	font-variant:small-caps;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	
	
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-o-border-bottom-left-radius:12px;
	-ms-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	-o-border-bottom-right-radius:12px;
	-ms-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	
	-webkit-border-top-left-radius:12px;
	border-bottom-top-radius:12px;
	-o-border-bottom-top-radius:12px;
	-ms-border-bottom-top-radius:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	-o-border-top-right-radius:12px;
	-ms-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	}
	
.ttheader {
	position:relative;
	left:0;
	top:0;
	text-align:center;
	padding:5px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-variant:small-caps;
	font-size:20px;
	color:#222;
	background-color:#FFF;
	overflow:hidden;
	z-index:10;
	
	-webkit-border-top-left-radius:12px;
	border-bottom-top-radius:12px;
	-o-border-bottom-top-radius:12px;
	-ms-border-bottom-top-radius:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	-o-border-top-right-radius:12px;
	-ms-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
}

.ttheader h4 {

	font-size:14px;
	font-family: 'Lato',Helvetica, sans-serif; 
	font-variant:small-caps;
	text-align: center;
	margin: 2px;
	color:#666;
}

.ttheader p {

	font-size:16px;
	font-family: 'Lato',Helvetica, sans-serif; 
	font-variant:small-caps;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.enhanced_popup {
	
	/*
	width:1000px;
	height:700px;
	*/
	width:75%;
	height:75%;
	
	position:absolute;
	top:15%;
	left:13%;
	margin: auto;
	background-color:#fff;
	opacity:.95;
	min-height: 400px;
	min-width: 400px;
		
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-o-border-bottom-left-radius:12px;
	-ms-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	-o-border-bottom-right-radius:12px;
	-ms-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	
	-webkit-border-top-left-radius:12px;
	border-bottom-top-radius:12px;
	-o-border-bottom-top-radius:12px;
	-ms-border-bottom-top-radius:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	-o-border-top-right-radius:12px;
	-ms-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	}

#ep_close {

	position:absolute;
	top: -1px;
	right: 2%;
	height:20px;

	pointer-events: ;

	font-size:18px;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	font-variant:small-caps;
	color: #222;
	text-align: left;
}
	
#ep_detail_container {
	
	border:#999;
	border-width:1px;
	border-style:solid;
	
	position:absolute;
	height:95%;
	width:47%;
	margin:2%;
	
	
	background-color:#fff;
	
	
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	-o-border-bottom-left-radius:12px;
	-ms-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	-o-border-bottom-right-radius:12px;
	-ms-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	
	-webkit-border-top-left-radius:12px;
	border-bottom-top-radius:12px;
	-o-border-bottom-top-radius:12px;
	-ms-border-bottom-top-radius:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	-o-border-top-right-radius:12px;
	-ms-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	
	}
	
#ep_detail_header {
	
	position:relative;
	
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	font-variant:small-caps;
	font-size:32px;
	color:#fff;
	
	
	background-color:#666;
	
	-webkit-border-top-left-radius:12px;
	border-bottom-top-radius:12px;
	-o-border-bottom-top-radius:12px;
	-ms-border-bottom-top-radius:12px;
	-moz-border-radius-topleft:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	-o-border-top-right-radius:12px;
	-ms-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	}

#ep_detail_body {
	
	height: 92%;
	font-family: 'Lato',Helvetica, sans-serif;
	font-variant:small-caps;
	font-size:18px;
	margin:2%;
	overflow:auto;
	position:relative;
	
}

	