
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

body {
  /*background: #369; */
  background: #111;
  opacity: 1;
  
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  opacity:0;
  box-shadow: -50px -50px 50px #888;-webkit-box-shadow: -50px -50px 50px #888;
}

.fill {
  fill: #111;
  opacity:.5;
}

.graticule {
  fill: none;
  stroke: #666;
  stroke-width: .5px;
  stroke-opacity: 0;
}

.land-hidden {
	
	fill:#777;
	transition:  2s;
	-webkit-transition: 2s;
	
	}

.land {
  fill: #777;
  opacity:.5;
  transition:  2s;
	-webkit-transition: 2s;
}

.land-hover {
	
	fill:#F00;
  	opacity:.5;
	transition:  2s;
	-webkit-transition: 2s;
	}

.land-working {
/* Land where WD4C is working.  Can use data to check when loading.  */
	
	
	
	}
.countrypath {
	fill: #888;
  	opacity:.5;
	transition:   5s;
	-webkit-transition: 5s;
	}

.boundary {
  fill: none;
  stroke: #CCC;  /*use timer to create glowing effect. */ 
  opacity:1;
  
  stroke-width: .5px;
    box-shadow: 50px 50px 50px #888;-webkit-box-shadow: 50px 50px 50px #888;

}

.myfirstline {
	
	stroke:red;
	
	}

.bigWrapper {
	/* background-color:#C60; */
	position:relative;
	width: 100%;
	height: 100%;
	/*
	border-width: 1px;
	border-style:dashed;
	border-color:#CCC;
	*/
	}
	
#left_side_bar {
	/* background-color:#C60; */
	position:absolute;
	/*
	left: 0%;
	top: 0%;
	*/
	width: 400px;
	height: 98%%;
	/*
	border-width: 1px;
	border-style:dashed;
	border-color:#C03;
	*/
	margin:auto;
	 font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	/*font-family:Tahoma, Geneva, sans-serif;*/

	font-variant:small-caps;

	}
	
#left_side_bar_title {
	
	position: relative;
	width:100%
	height:100px;
	padding:20px;
	font-style:normal;
	font-size:36px;
	color:#F00;
	text-align:left;
	background-color:#333;
	font-weight:600;
	opacity:.7;

		
	border-top-right-radius:15px;
	-o-border-top-right-radius:15px;
	-ms-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
	-o-border-top-left-radius:15px;
	-ms-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-bottom-right-radius:15px;
	-o-border-bottom-right-radius:15px;
	-ms-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	-o-border-bottom-left-radius:15px;
	-ms-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	
	}
	
	
#left_side_bar_title p {
	
	color:#FFF;
	font-size:18px;
	text-align:center;
	margin-top:5px;
	margin-bottom:-10px;
	opacity: 1;
	
	
	
	}
	
#left_side_bar_details_box {
	
	position:relative;
	width: 95%;
	height: auto;
	/*
	border-width: 1px;
	border-style:dashed;
	border-color:#09C;
	*/
	margin:auto;
	}

#left_side_bar_details_header {
	
	position: relative;
	padding-top:20px;
	width:100%
	height:auto;
	margin:auto;
	font-style:normal;
	font-size:24px;
	color:#FFF;
	text-align:left;
	opacity:.9;
	
	}
	
#left_side_bar_details_body {
	
	position: relative;
	width:100%;
	height:50%;
	margin:auto;
	margin-top:10px;
	font-style:normal;
	font-size:16px;
	color:#FFF;
	text-align:left;
	opacity:.9;
	overflow:auto;
	
	/*style overflow scroller */
	}
	
::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
      background-color: #333;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: #666;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: inherit; 
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

	
#left_side_bar_details_effects_header {
	
	position: relative;
	width:100%
	height:auto;
	margin:auto;
	margin-top:10px;
	font-style:normal;
	font-size:24px;
	color:#fff;
	text-align:left;
	opacity:.9;
	
	}
	
#left_side_bar_details_effects_details {
	
	position: relative;
	width:100%
	height:30%;
	margin:auto;
	margin-top:10px;
	font-style:normal;
	font-size:16px;
	color:#fff;
	text-align:left;
	opacity:.9;
	overflow:auto;
	
	/*style overflow scroller */
	
	}
	
#right_upper_container {
	
	position: fixed;
	width:10%;
	height:25%;
	top:1%;
	right:1%;
	font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111; 
	font-style:normal;
	font-size:20px;
	text-align:center;
	color:#fff;
	opacity:1;
	background-color:#333;
		
	border-top-right-radius:15px;
	-o-border-top-right-radius:15px;
	-ms-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
	-o-border-top-left-radius:15px;
	-ms-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-bottom-right-radius:15px;
	-o-border-bottom-right-radius:15px;
	-ms-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	-o-border-bottom-left-radius:15px;
	-ms-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	
	}
	


#map_container {
	width:100%
	height:100%;

	}
	
#icon_container {
	
	width=95%;
	height:100px;
	position:relative;
	margin:auto;
	text-align:center;
	background-color:#222;
	margin-top:20px;
	
	border-top-right-radius:15px;
	-o-border-top-right-radius:15px;
	-ms-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
	-o-border-top-left-radius:15px;
	-ms-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-bottom-right-radius:15px;
	-o-border-bottom-right-radius:15px;
	-ms-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	-o-border-bottom-left-radius:15px;
	-ms-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	
	}
	
#icon_container p {
	
	color:#fff;
	padding-top:5px;
	
	}
	

.basic_icon {
	
	position:relative;
	width: 45px;
	height:45px;
	padding-left:20px;
	padding-right:20px;
}


#social_links_container {
	
	position: fixed;
	width:2%;
	height:30%;
	top:36%;
	right:2%;
	text-aign:left;
	
	
	}
	
.social_icon {
	
	position:relative;
	left:0px;
	width: 35px;
	height:35px;
	padding:0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:left;
	float:left;
	}
	

